div(class='isso-postbox')
    div(class='form-wrapper')
        p(class='input-wrapper')
            label(for='author') Pseudo
                small  (Obligatoire)
            input(type='text' name='author'
                  value=author !== null ? '#{author}' : '')
        p(class='input-wrapper')
            label(for='email') Email
            input(type='email' name='email'
                  value=email != null ? '#{email}' : '')
        p(class='input-wrapper')
            label(for='website') Website
            input(type='text' name='website' placeholder='http://'
                  value=website != null ? '#{website}' : '')
        div(class='textarea-wrapper')
            label Commentaire
                small  (Obligatoire)
            div(class='textarea placeholder' contenteditable='true')
                = ''
        section(class='auth-section')
            p(class='post-action')
                input(type='submit' value='Poster')
